[project]
	description = Markdown ???????
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ZengBin (LichenZeng)
[access "refs/for/refs/*"]
	read = group user/ZengBin (LichenZeng)
	push = group user/ZengBin (LichenZeng)
	label-Code-Review = -2..+2 group user/ZengBin (LichenZeng)
	label-Verified = -1..+1 group user/ZengBin (LichenZeng)
	rebase = group user/ZengBin (LichenZeng)
	removeReviewer = group user/ZengBin (LichenZeng)
	submit = group user/ZengBin (LichenZeng)
[access "refs/heads/*"]
	read = group user/ZengBin (LichenZeng)
	create = group user/ZengBin (LichenZeng)
	push = +force group user/ZengBin (LichenZeng)
	pushMerge = group user/ZengBin (LichenZeng)
[access "refs/tags/*"]
	push = group user/ZengBin (LichenZeng)
	push = +force group user/ZengBin (LichenZeng)
